@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

.photoslist {
    background-color: #FAFAFA;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 0px 5px 2px rgba(185, 185, 185, 0.42);
    text-align: center;
    position: relative;
}

.img-box {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    padding-top: 0;
    position: relative;
    background-color: #f3f3f3;
}

.img-box-grid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    padding: 10px
}

.photoslist img.img-responsive {
    transition: .3s;
}

.photoslist:hover img.img-responsive {
    transform: scale(1.05);
    transition: .3s;
}

.photoslist img.img-responsive {
    transition: .3s;
}

.photolistbutons {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0px;
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
    background: black;
    transition: transform .5s;
    transform: scaleY(0);
    padding: 10px 7px;
    background-color: rgba(51, 51, 51, 0.75);
}

.photoslist:hover .photolistbutons {

    transform: scaleY(1);

    display: block;
}

.inset {
    width: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6), 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
    margin: 5px 0;
    display: inline-block;
    margin-bottom: 0px !important;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}



.success-carousel {
    max-height: 480px;
    overflow: hidden;
}

.img-100-persent {
    width: 100% !important;
}

.text-right {
    text-align: right;
}

.display-inline {
    display: inline !important;
}

.item {
    z-index: 9;
}

.padding-0-15 {
    padding: 0 15px !important;
}

.padding-0-10 {
    padding: 0 10px !important;
}

.padding-0-30 {
    padding: 0 30px !important;
}

.overflow-show {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9;
}

.overflow-show:hover {
    height: 300%;
}

.profilehiddeninfo {
    display: none;
    height: 0;
    visibility: hidden;
    opacity: .9;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/* */
.profilecarousel {
    height: 230px;
    position: relative;
    z-index: 9;
}

.col-item {
    /*border: 1px solid #E1E1E1;*/
    border-radius: 5px;
    background: #FFF;
    max-height: 266px;
    /*overflow: hidden;*/
}

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px 10px 0 0;
}

.col-item .info {
    z-index: 86;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    background-color: #C62828;
    padding-right: 15px;
    padding-left: 15px;
    height: 80px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.col-sm-3:hover .info {
    height: 85px;
    bottom: -45px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.col-sm-3:hover .info .profilehiddeninfo {
    display: block;
    height: 80px;
    visibility: visible;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price-right {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
    text-align: right;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}

.col-item .rating h5 {
    line-height: 20px;
    margin: 0;
}

.price-text-color {
    color: #219FD1;
}

.col-item .info .rating {
    color: #fff;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
    margin-top: 5px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i {
    margin-right: 5px;
}

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

.profilebox {
    position: relative;
}

/* */
body {
    font-family: 'PT Serif', serif;
    /*background-color: #f7f7f7;*/
}

.homepageformlabel {
    font-size: 15px;
    font-weight: 400;
    display: block;
}

a.white {
    color: #fff
}

.margin-top-5 {
    margin-top: 5px;
}


.padding-0 {
    padding: 0 !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-0-5 {
    padding: 0 5px !important;
}

.padding-10-0 {
    padding: 10px 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-0-auto {
    margin: 0 auto !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.no-background {
    background-color: transparent !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.border-0 {
    border: none !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.display-block {
    display: block !important
}

.profile-single {
    display: inline-block;
    background-color: #fdfdfd;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    clear: both;
    margin-bottom: 15px;
    border: 1px solid #f7f7f7;
    box-shadow: 1px 1px 1px 1px #f7f7f7;
    width: 100%
}

.profile-single img {
    transform: scale(1);
    transition: all .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    max-width: 100%;
}

.profile-single:hover img {
    transform: scale(1.05);
    transition: all .4s cubic-bezier(0, 0, 0.2, 1);
}

.product-shrot-description,
.profile-title,
.product-price {
    padding: 0 10px;
    color: #000;
    text-align: left;
}

.profile-title {
    font-size: 20px;
    display: block;
    color: #881111;
    text-decoration: none;
    transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.profile-single:hover .profile-title a {
    color: #e02a25;
    text-decoration: none;
}

.product-price {
    font-size: 14px;
}

.product-shrot-description {
    font-size: 14px;
    color: #333;
}

.product-add-cart,
a.product-add-cart {
    position: absolute;
    left: Calc(100% - 50px);
    bottom: Calc(100% - 230px);
    font-size: 16px;
    color: #fff;
    width: 42px;
    height: 42px;
    background-color: rgba(96, 125, 139, 0.54);
    border-radius: 17%;
    padding: 10px;
    transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.product-add-cart:hover {
    background-color: rgba(0, 150, 136, 0.74);
}

.border-1 {
    border: 1px solid rgba(96, 125, 139, 0.54);
}

.out-of-stock {
    pointer-events: none;
    user-select: none;
    opacity: .5;
}

.out-of-stock-msg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(96, 125, 139, 0.88);
    font-size: 60px;
    color: #fff;
}

.out-of-stock a.profile-single img,
.out-of-stock a.profile-single .product-add-cart,
.out-of-stock a.profile-single .product-shrot-description .out-of-stock a.profile-single .profile-title .out-of-stock a.profile-single .product-price .out-of-stock a.profile-single .product-add-cart {
    opacity: .7;
}

.product-designers-edition {
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 50%;
    background-color: #232323;
    display: table;
    font-size: 10px;
    padding: 5px;
    color: #C0A576;
}

.product-designers-edition p {
    vertical-align: middle;
    line-height: 1em;
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

/* home */
span.homebanner {
    position: relative;
    color: #000;
    display: block;
    transition: all ease-out 2ms;
    overflow: hidden;
    max-height: 400px;
    -webkit-transition: all ease-out 2ms;
    -moz-transition: all ease-out 2ms;
    -ms-transition: all ease-out 2ms;
    -o-transition: all ease-out 2ms;
}

.homebanner img {
    width: 100%;
    margin-top: -20%;
}

.homebannerbox {
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.bannertext {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background: #fefefe;
    background: rgba(98, 0, 0, 0.87);
    color: #fff !important;
    z-index: 9;
}

.shop-now {
    line-height: 3;
    font-size: 20px;
    display: inline-block;
    background: #FF5722;
    padding: 0 40px;
    color: #fff;
    border-radius: 7px;
}


.outline-0,
a.outline-0 {
    outline: 0 !important;
}

/* home block 1 */
.homeblock {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0px 0 20px;
    font-size: 30px;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #36385d;
    border: 10px solid rgba(0, 0, 0, 0.05);
    transition: all ease-out 500ms;
    width: 100%;
    height: 100%;
}

span.homebanner::after {
    content: "";
    position: absolute;
    display: inline;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    transition: all ease-out 500ms;
}

span.homebanner:hover::after {
    background-color: rgba(0, 0, 0, 0);
}

span.homebanner:hover .homeblock {
    border-bottom: 10px solid rgb(154, 152, 157);
}

.quick-view {
    position: absolute;
    top: 0;
    left: Calc(100% - 25px);
    border: 0;
    outline: 0;
    background: 0;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    transition: all .3s ease;
}

.quick-view:hover {
    font-size: 25px;
    left: Calc(100% - 30px);
}

.bg-dark {
    background-color: #212121;
}

.text-white,
.text-white a {
    color: #fff;
    text-decoration: none;
}

.text-white a:hover {
    color: #C75724;
}

ul.list-style-none li {
    list-style: none;
}

.logo {
    display: inline !important;
    max-width: 160px;
    margin-right: 15px;
    padding: 5px 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

#contentWrapper {
    background-color: #F7F7F7;
}

#contentWrapperWhite {
    background-color: #fff;
}

.product-gallery {
    min-height: 435px;
}

.product-gallery-indicators {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.product-gallery-indicators li,
.product-gallery-indicators li.active {
    background-color: #337ab7;
    text-indent: 0;
    border: 0;
    width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    margin: 0 3px;
}

li.product-gallery-indicators-video {
    position: relative;
}

li.product-gallery-indicators-video span {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    line-height: 53px;
    background-color: #18a95f75;
    font-size: 40px;
}

.z-index-2 {
    z-index: 2;
}

.z-index-1 {
    z-index: 1;
}

.z-index-0 {
    z-index: 0;
}

.bold-text {
    font-weight: 700 !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.background-color-f7f7f7 {
    background-color: #f7f7f7 !important;
}

.blue-btn {
    border-color: #0f5f86 !important;
    background-color: #0f5f86 !important;
}

.black-btn {
    border-color: #131313 !important;
    background-color: #131313 !important;
}

.green-btn {
    border-color: #0c8025 !important;
    ;
    background-color: #0c8025 !important;
    ;
}

.coca-btn {
    border-color: #714800 !important;
    background-color: #714800 !important;
}

.blue-btn:hover,
.black-btn:hover,
.green-btn:hover,
.coca-btn:hover {
    opacity: .8;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-7 {
    margin-right: 7px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-50 {
    margin: 50px auto;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.max-width-400 {
    max-width: 400px;
}

a .cart-sub {
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
    border: 0 !important;
    right: 5px !important;
    top: -13px !important;
    padding: 5px !important;
    line-height: 1.15 !important;
    font-size: 10px !important;
    background-color: rgba(93, 9, 9, 0.49) !important;
}

.max-width-80 {
    max-width: 200px;
}

a.blog-block {
    display: inline-block;
    text-decoration: none;
    height: 630px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.blog-img {
    height: 420px;
    width: 100%;
    overflow: hidden;
}

.blog-img img {
    transition: all .35s ease-out;
}

.blog-img:hover img {
    transform: scale(1.05);
}

.blog-block {
    display: block;
    background-color: #fff;
    font-size: 16px;
    color: #000;
}

.blog-text {
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: left;
}

.blog-label {
    color: #808080;
    font-size: 12px;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 24px;
    color: #0813a9;
    margin-bottom: 10px;
}

.blog-excerpt {
    font-size: 14px;
    color: #1d1d1d;
    text-align: justify;
}

svg.MainMenuTall__logo__svg__3tpY7 {
    height: 100%;
    fill: #fff;
}

/* share buttons */
ul.share-buttons {
    list-style: none !important;
    width: 50px;
    background-color: #333;
    text-align: center;
    padding: 5px;
    left: 0;
    top: Calc(50% - 89px);
    position: fixed;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons a {
    color: #fdfdfd;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.color-light,
.color-light a {
    color: #c1c1c1 !important;
}

/* Extra Things */
.style_prevu_kit {
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.style_prevu_kit:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.style_prevu_kit h2 {
    position: absolute;
    left: 5%;
    top: 5%;
    right: 5%;
    font-size: 20px;
    color: #f2f2f2;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-bottom: 5px;
    text-indent: 5px;
    border-bottom: 1px solid #fff;
}

.navbar-inverse {
    background-color: #C62828 !important;
    border-color: #C62828 !important;
    border: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
    padding: 17px 25px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #000 !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #e53935 !important;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #e53935 !important;
}

.slogantext {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    z-index: 9;
    margin: 0 auto;
}

.margin-20 {
    margin: 20px auto;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform select,
#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform select:focus,
#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #ee0979;
    color: white;
}

/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}

.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}


.show-userinfo {
    display: block;
}

.show-form {
    display: none;
}

#dropnav {
    display: inline-block !important;
}

#myProfileNav,
.visible-only-desktop {
    display: inline-block !important;

}

#myProfileNavMobile,
.visible-only-mobile {
    display: none !important;
}

/* Responsive */
@media (max-width: 768px) {

    #myProfileNav,
    .visible-only-desktop {
        display: none !important;

    }

    #myProfileNavMobile,
    .visible-only-mobile {
        display: inline-block !important;
    }

    .mobile-text-center {
        text-align: center;
    }

    .mobile-send-button-fix {
        float: none !important;
        margin: 5px  !important;
    }

    #dropnav {
        display: block !important;
    }

    .max-width-80 {
        max-width: 60px;
    }

    .make-relative {
        position: relative;
    }

    .brandmobilecenter {
        position: absolute;
        width: 100%;
        text-align: left;
    }

    .brandmobilecenter a {
        float: none;
        display: inline-block;
        transform: scale(0.8);
        width: 100%;
        text-align: center;
        text-indent: -25px;
    }

    .inset {
        border-radius: 25%;
        width: 40px;
        margin: auto;
        padding: 0;
    }

    .mobile-nav-toggle-extra {
        position: absolute !important;
        top: 0 !important;
        left: auto !important;
        float: left !important;
    }

    .logo {
        margin: 0;
    }

    .overflow-hidden-mobile {
        overflow: hidden !important;
    }

    .product-gallery {
        min-height: auto;
    }

    .mobile-margin-top-60 {
        margin-top: 60px;
    }

    .homebanner img {
        filter: blur(5px);
    }

    .homebannertitle {
        padding: 0;
        font-size: 16px;
        color: #000000;
        text-shadow: 3px 3px 10px #676767;
        font-weight: 700;
        top: 20px;
    }

    .shop-now {
        padding: 0 10px;
        font-size: 16px;
        line-height: 2;
    }

    a.blog-block {
        height: 580px;
    }
}







/*################################## My Profile ######################################*/

.profileSection {
    background-color: #F1F1F2;
}

.nam {
    float: left;
    padding: 18px 0 27px 0;
    height: 28px;
}

.aNam {
    float: left;
    font-size: 18px;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.numNam {
    float: left;
    font-size: 11px;
    padding: 7px 0 0 5px;
}

.profileContent {
    background: #fff;
    margin: 0;
    padding: 10px;
    margin-top: 26px;
    width: 100%;
    height: 100%;
    border: 0.75px solid #dedede;
    margin-bottom: 30px;
}

.info-bar {
    border: solid 1px #f1f1f2;
    background: #f1f1f2;
    font: normal 12px arial;
    color: #72727d;
    height: 29px;
}

.infoFactor {
    float: right;
    display: block;
    padding: 7px 15px;
}

.pCont {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

}

.basic-information {
    width: 100%;
    height: 100%;
}

.pConLeft {
    color: #72727d;
}

.pConLeft .table tr td {
    line-height: 12px;
    font: normal 12px/20px arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 13px;
    font-family: arial;
}

.pConRight {
    width: 100%;
    height: 100%;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none;
}

.mngPDiv {
    margin-right: 30px;
    border: 1px solid #DFE0E3;
    height: 100%;
    width: calc(100%-30px);
    padding: 10px 5px;
}

.edt {
    width: 100%;
    height: 100%;
}

.dot {
    color: red;

}

.edtText a {
    font: normal 12px arial;
    color: #00bcd5;
    text-decoration: none;
    font-size: 12px;
}

.edtText a:hover {
    font: normal 12px arial;
    color: #00bcd5;
    outline: 0;
    text-decoration: underline;

}

.mngProfile {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #ff5a60;
    font-weight: 700;
}

.preVieProfile {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    margin-bottom: 50px;
}

.preVieProfile a {
    float: right;
    padding-top: 5px;
    padding-bottom: 0;
    text-decoration: none;
    color: none;
}

.preVieProfile a:hover {
    border-bottom: 1px solid #00bcd5;
}

.preVieProfile a:visited {
    font: normal 12px arial;
    color: #00bcd5;
    outline: 0;
    text-decoration: none;
}

.profile_sel_tab {
    background: rgb(0, 188, 213);
    color: rgb(255, 255, 255);
    float: left;
    font: bold 13px arial;
    height: 29px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding: 8px 10px 0;
    text-align: center;
    font-weight: 700;
}

.profile_sel_tab2 {
    background: #F0F1F2;
    color: rgb(255, 255, 255);
    float: left;
    font: bold 13px arial;
    height: 29px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding: 6px 10px 0;
    text-align: center;
    font-weight: 700;
}

.profile_sel_tab2 a {
    text-decoration: none;
    color: #867284;

}

.profile_sel_tab2:hover {
    background: rgb(0, 188, 213);
    color: white !important;
    font: bold 13px arial;
    height: 29px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding: 6px 10px 0;
    text-align: center;
    font-weight: 700;
}

.profile_sel_tab2 span {
    font-size: 10px;
    color: #72727d;
}

.myPimg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 220px;
    border: 1px solid #c8c9c2;
}

.myPimg img {
    width: 100%;
    height: 100%;
}

.border-space {
    width: 100%;
    border-bottom: 2px solid #00bcd5;
    margin-bottom: 1px;
}

.space-10 {
    width: 100%;
    height: 5px;
    clear: both;
}

.peFdetailsCarPer {
    width: 100%;
    height: 100%;

}

.heading-bottom {
    clear: both;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #D9D9D9 !important;
    overflow: hidden;
    padding-bottom: 0px;
}

.peFdetailsCarPer h5 {
    font: bold 14px arial;
    color: #ff5a60;
}

.pdiv {
    clear: both;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.pdiv p {
    margin: 0px 9px;
}

.peFdetailsCarPer p {
    padding: 0px 0px;
    font: normal 12px arial;
    color: #72727D;
}

.head {
    margin-left: -15px;
}

.editRig {
    margin-right: -15px;
    padding-top: 15px;
    text-decoration: none;
    color: #00bcd5 !important;
    font-weight: normal;
    font-size: 12px;
}

.editRig a:hover {
    border-bottom: 1px solid #00bcd5;
}

.editRig span {
    font-size: 10px;
    color: #00bcd5;
}

.margin-top-10 {
    margin-top: 10px;
}

.basTab {
    margin: 10px 0px;
}

.basTab p {
    color: #3f3f40 !important;
    font: normal 12px arial;
    line-height: 1.25em;
}

.dot {
    margin: 10px 0px;
}

.dot p {
    margin-right: -3px;
    font: normal 12px arial;
    line-height: 8px;
}

.basTabRaig {
    color: #72727d;
    padding: 10px 0px;
}

.basTabRaig p {
    font: normal 12px arial;
    line-height: 8px;
}

.righirig {
    margin: 10px 0px;
    border-left: 1px solid #b1b3b9 !important;
}

.righirig p {
    color: #b1b3b9 !important;
    font: normal 12px arial;
    line-height: 8px;
}

.righirig1 {
    margin: 10px 0px;
    border-left: 1px solid #D9D9D9;
    padding-left: 4px;
}

.righirig1 p {
    color: #b1b3b9 !important;
    font: normal 12px arial;
    line-height: 8px;
}

.Partpre {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background: #F1F1F2;
}

.PartpreSpan h4 {
    color: #ABA0A3;
    font-size: 18px;
    padding: 5px 10px;
}

.backTotop span {
    font-size: 8px;
}

.backTotop a {
    font: normal 12px arial;
    color: #00bcd5;
    outline: 0;
    text-decoration: none;
}

.atop {
    font-size: 13px;
}

.fotterTop {
    width: 100%;
    height: 60px;
    padding-bottom: 20px;
}

.fotterTop a {
    font: normal 12px arial;
    color: #00bcd5;
    outline: 0;
    text-decoration: none;
}



/*########################### Edit MyProfile Page ########################### */
.nam {
    color: #84848E;
}

.titleHeader {
    width: 100%;
    height: 100%;
}

.titleHeader h4 {
    color: #A2A2A9;
    padding-bottom: 7px;
    border-bottom: 1px solid #dfe0e3;
    margin-bottom: 15px;
    font: normal 16px arial;
    cursor: pointer;
    font-weight: 700;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}


/*########################### Home Page Package ########################### */
.newhom {
    background: white;
    width: 100%;
    height: 100%;
    border: 1px solid #E6E625;
}

.package {
    margin: 10px 20px 5px 20px;
    color: #669900;
}

.package h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.coler {
    width: calc(100%-30px);
    margin: 0px 20px 10px 30px;
}

.coler img {
    background: white;
    margin: 10px 20px 20px 15px;
    border: 1px dashed gray;
}

.tablediv {
    margin: 20px 10px;
}

.tbTdFirst {
    width: 40%;
}

.middle {
    width: 10%;
    text-align: center;
}

.tbTdLast {
    width: 50%;
    text-align: center;
}

.benif {
    width: calc(100%-30px);
    margin: 10px 10px 20px 20px;
}

.ourPack {
    margin-bottom: 20px;
}

.righsideco {
    border: 1px solid #E6E625;
    width: 100%;
    margin-top: 60px;
}

.sideimg {
    width: auto;
    height: auto;
}

.sideimg img {
    border: 1px solid #E6E625;
}

.sidecont {
    margin: 0px;
    padding: 0px;
}

.diamn a {
    color: #669900;
    text-decoration: none;
}

.diamn {
    color: #669900;
}


.btn-pinterest {
    color: #ffffff;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:focus,
.btn-pinterest.focus {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:hover {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:active,
.btn-pinterest.active,
.open>.dropdown-toggle.btn-pinterest {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:active,
.btn-pinterest.active,
.open>.dropdown-toggle.btn-pinterest {
    background-image: none;
}

.btn-pinterest .badge {
    color: #cb2027;
    background-color: #ffffff;
}


.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}
[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}